html,
body {
  height: 100%;
  font-family: 'Lato', sans-serif;
}

#root {
  height: 100%;
}

#logoscroll {
  height: 150px;
  margin-bottom: 30px;
}

.App {
  height: 100%;
}

.navTrans {
  background-color: rgba(255,255,255,0);
  border: none;
  height: 80px;
  align-items: center;
  transition: all 0.5s ease-in-out;
}

.navColor {
  background-color: white;
  color: #57068c;
  border: none;
  height: 70px;
  align-items: center;
  transition: all 0.5s ease-in-out;
  -webkit-box-shadow: 0px 6px 55px -8px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 6px 55px -8px rgba(0,0,0,0.15);
  box-shadow: 0px 6px 55px -8px rgba(0,0,0,0.15);
}

.navRightEight {
  height: 80px;
}

.navRightSeven {
  height: 70px;
}

.landing {
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  color: #57068c;
}

.landingAbsolute {
  position: absolute;
  top: 0;
}

.landingWhite {
  width: 50%;
  height: 100%;
}

.landingMap {
  width: 50%;
  right: 0;
  height: 100%;
}

.wasaMap {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 4;
}

.landingGradient {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: #7F00FF;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1565C0, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #1565C0, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  opacity: 0.2;
  z-index: 5;
}

.socialContain {
  position: absolute;
  bottom: 0;
  font-size: 28px;
  padding-bottom: 20px;
  z-index: 6;
}

.fauxDonut {
  display: flex;
  justify-content: center;
  margin-top: 35%;
  height: 100%;
}

.landingColContain {
  display: flex;
  height: 100%;
}

.landingColumn {
  height: 100%;
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projButt {
  border: none;
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  margin-bottom: 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  /* ...and now for the proper property */
  transition:.5s;
}

.projButtColor {
  color: #57068c;
  margin-bottom: 0px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  padding-bottom: 3px;
  border-bottom: 1px solid;
  border-color: #57068c;
  transition:.5s;
}

.startButt {
  color: white;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

.startButt:hover {
  color: #FFEB3B;
}

.Butt {
  border: none;
  background-color: rgba(255, 0, 0, 0);
  font-size: 16px;
  font-weight: 300;
  padding: 0px;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
  align-self: flex-start;
}

.teamHeading {
  margin-bottom: 60px;
}

.teamMemberContainer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.secondTeamMember {
  margin-top: 80px;
}

.teamAvatar {
  height: 160px;
  border-radius: 50%;
  margin-right: 30px;
  align-self: center;
}

.teamInfoContainer {
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.mobilepic {
  display: none;
}

.footer {
  background: #57068c;
  color: white;
}

.nunito {
  font-family: 'Nunito', sans-serif;
}

.proj {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-left: 30px;
}

.projDetail {
  margin-top: 50px;
  padding-right: 15px;
}

.projButton {
  margin-top: -50px;
  width: 100%;
}

.about {
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.imageContain {
  padding: 20px 50px 20px 50px;
}

.imageCompareContain {
  padding: 30px 50px 30px 50px;
}

.containProjectTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 60px;
}

.projTitle {
  font-size: 18px;
  font-weight: 300;
}

.projDesc {
  font-size: 14px;
}

.whoami {
  font-size: 16px;
}

.smalldisplay {
  display: none;
}

.aboutPlotree {
  font-size: 16px;
  margin-top: 15px;
}

.landingBanner, .landingTitle {
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 300;
}

.landingTitle {
  margin-top: 45%;
  font-size: 45px;
}

.teamHeading {
  font-size: 35px;
}

@media only screen and (max-width: 991px) and (min-width: 769px) {
  .landingTitle {
    font-size: 40px;
    margin-top: 75%;
  }
  .fauxDonut {
    margin-top: 50%;
  }
  .landingBanner {
    font-size: 35px;
  }
}

@media only screen and (max-width: 1200px) {
  .teamHeading {
    margin-bottom: 40px;
  }
  .myname {
    font-size: 24px;
  }
}

@media only screen and (max-width: 991px) {
  .teamMemberContainer {
    margin-top: 25px;
  }

  .teamHeading {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 24px;
  }

  .secondTeamMember {
    margin-bottom: 30px;
  }
}


@media only screen and (max-width: 550px) {
  .fauxDonut {
    margin-top: 50%;
  }
  .landingTitle {
    font-size: 40px;
    margin-top: 60%;
  }
  .landingBanner {
    font-size: 35px;
  }
}

@media only screen and (max-width: 769px) {
  .navbar {
    align-items: baseline;
  }

  .projButt, .projButtColor {
    display: none;
  }

  .landingMap {
    display: none;
  }

  .landingWhite {
    width: 100%;
  }

  .desktoppic {
    display: none;
  }

  .mobilepic {
    display: block;
  }

  .imageContain {
    padding: 25px;
  }

  .imageCompareContain {
    padding: 20px;
  }

  .about {
    justify-content: space-around;
  }

  .teamAvatar {
    height: 130px;
  }

  .whoami {
    font-size: 11px;
  }

  .myname {
    font-size: 16px;
  }
}


@media only screen and (max-width: 350px) {
  .whoami {
    display: none;
  }
  .smalldisplay {
    display: block;
    font-size: 11px;
  }
  .aboutPlotree {
    font-size: 14px;
  }
  .landingBanner {
    font-size: 40px;
  }
  #logoscroll {
    height: 100px;
  }
}
